.red-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 10px solid #c42f2f;
  background: #c42f2f;
  color: white;
  position: absolute;
  bottom: 33px;
  right: 6px;
  z-index: 1;

  .x{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &.top-left-left{
    top: 4px;
    left: 38px;
  }
}
