<div class="circle circle--box-shadow circle--relative">
  <div class="circle__indicators">
    <div class="indicators">
      <%= render 'components/indicators' %>
    </div>
  </div>
  <div class="circle circle--sm circle--dark-blue circle--centered">
    <svg class="block-arc" viewbox="0 0 543.239 266.315" fill="none" stroke-linecap="square" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg">
      <clippath id="a"><path d="M0 0h543.239v266.315H0V0z"/></clippath>
      <g clip-path="url(#a)"><path fill="none" d="M0 0h543.239v266.315H0z"/><path
        fill="#6093b3"
        d="M-.07 264.19C.167 171.055 52.075 85.123 136.087 38.785c84.012-46.337 187.354-46.034 271.07.796 83.717 46.83 135.078 133.067 134.723 226.201l-144.596-.51c.173-41.455-23.774-79.843-62.816-100.693-39.04-20.85-87.239-20.992-126.425-.371-39.186 20.62-63.4 58.867-63.516 100.322z"
        fill-rule="evenodd"/></g>
    </svg>
    <div class="index__bottom-right">
      <svg class="half-block-arc" viewBox="0 0 271.241 260.748" fill="none" stroke-linecap="square" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg"><clipPath id="a"><path d="M0 0h271.241v260.748H0V0z"/></clipPath><g clip-path="url(#a)"><path fill="none" d="M0 0h271.241v260.748H0z"/><path fill="#6093b3" d="M0 259.946C.366 116.494 121.23.304 270.405.001l.317 144.591c-69.574.13-125.95 51.841-126.128 115.694z" fill-rule="evenodd"/></g></svg>
      <svg class="button-icon button-icon--sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="a" width="140%" height="150%" x="-16%" y="-20%" filterUnits="objectBoundingBox"><feOffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"/><feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/></filter><path id="b" d="M104 94c5.523 0 10 4.477 10 10s-4.477 10-10 10c-4.477 0-8.267-2.942-9.542-7l2.124.001A8.003 8.003 0 00112 104a8 8 0 00-15.418-3h-2.124c1.274-4.057 5.064-7 9.542-7zm5 10l-9 5 2-3-12-1a1 1 0 110-2l12-1-2-3 9 5z"/></defs><g fill="none" fill-rule="evenodd" transform="rotate(-45 -51.433 169.347)"><use fill="#000" filter="url(#a)" xlink:href="#b"/><use fill="#FFF" xlink:href="#b"/></g></svg>
    </div>
    <div class="index__bottom-left">
      <svg class="half-block-arc half-block-arc--bottom-left" viewBox="0 0 271.241 260.748" fill="none" stroke-linecap="square" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg"><clipPath id="a"><path d="M0 0h271.241v260.748H0V0z"/></clipPath><g clip-path="url(#a)"><path fill="none" d="M0 0h271.241v260.748H0z"/><path fill="#6093b3" d="M0 259.946C.366 116.494 121.23.304 270.405.001l.317 144.591c-69.574.13-125.95 51.841-126.128 115.694z" fill-rule="evenodd"/></g></svg>
      <svg class="button-icon button-icon--lg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="a" width="150%" height="152.6%" x="-20%" y="-21.1%" filterUnits="objectBoundingBox"><feOffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"/><feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/></filter><path id="b" d="M42.612 107.492l3.388 2.73L43.182 113l-2.772-3.338 2.202-2.17zM32.975 94c3.853 0 6.975 3.077 6.975 6.872a6.766 6.766 0 01-1.05 3.628l2.162 1.743-1.92 1.892-1.668-2.01a7.01 7.01 0 01-4.499 1.62c-3.852 0-6.975-3.077-6.975-6.873C26 97.077 29.123 94 32.975 94zm0 1.964c-2.751 0-4.982 2.197-4.982 4.908 0 2.711 2.23 4.91 4.982 4.91 2.752 0 4.983-2.199 4.983-4.91 0-2.71-2.231-4.908-4.983-4.908z"/></defs><g fill="none" fill-rule="evenodd" transform="translate(-24 -92)"><use fill="#000" filter="url(#a)" xlink:href="#b"/><use fill="#FFF" xlink:href="#b"/></g></svg>
    </div>

  </div>
</div>

<svg class="block-arc" viewbox="0 0 543.239 266.315" fill="none" stroke-linecap="square" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg">
  <clippath id="a"><path d="M0 0h543.239v266.315H0V0z"/></clippath>
  <path fill="none" d="M0 0h543.239v266.315H0z"/><path
    fill="transparent"
    d="M-.07 264.19C.167 171.055 52.075 85.123 136.087 38.785c84.012-46.337 187.354-46.034 271.07.796 83.717 46.83 135.078 133.067 134.723 226.201l-144.596-.51c.173-41.455-23.774-79.843-62.816-100.693-39.04-20.85-87.239-20.992-126.425-.371-39.186 20.62-63.4 58.867-63.516 100.322z"
    fill-rule="evenodd"/>
    <text width="500">
        <textPath xlink:href="#curve">
          Dangerous Curves Ahead
        </textPath>
      </text>
</svg>
